<div class="dashboard-body">
    <div class="center-div">
        <h1> Welcome {{ user.firstName}}!</h1>
        <h2> Here are your details:</h2>
        <div>
            <p><strong>Full Name: &nbsp;</strong> {{user.firstName}}&nbsp;{{user.lastName}}.</p>
            <p><strong>Email: &nbsp;</strong>{{user.email}}</p>
        </div>
        <button mat-raised-button color="primary" (click)="logOut()">Log-Out</button>
    </div>
</div>
