<div class="login-body">
  <div class="user-form">
    <div *ngIf="signUp" class="signup-form">
      <form (ngSubmit)="onSignUp()" #userForm="ngForm">
        <div class="form-group">
          <h2 class="heading-signin">Register here</h2>
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>First name</mat-label>
            <input
              matInput
              placeholder="Abc"
              type="text"
              class="form-control"
              id="fname"
              required
              [(ngModel)]="user.firstName"
              name="fname"
              #fname="ngModel"
            />
            <mat-error [hidden]="user.firstName">
              Please fill in the first name.</mat-error
            >
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Last name</mat-label>
            <input
              matInput
              placeholder="Xyz"
              type="text"
              class="form-control"
              id="lname"
              required
              [(ngModel)]="user.lastName"
              name="lname"
              #lname="ngModel"
            />
            <mat-error [hidden]="user.lastName">
              Please fill in the last name.</mat-error
            >
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Preferred user-name</mat-label>
            <input
              matInput
              class="form-control"
              id="userName"
              required
              [(ngModel)]="user.uname"
              name="userName"
              #userName="ngModel"
              (ngModelChange)="checkUserName()"
            />
            <mat-icon matSuffix>account_circle</mat-icon>
            <mat-error [hidden]="user.uname"> User name is mandatory</mat-error>
            <small class="error-message" *ngIf="presentUserName">
              The username is already taken.</small
            >
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Email address</mat-label>
            <input
              matInput
              type="email"
              class="form-control"
              id="email"
              required
              [(ngModel)]="user.email"
              name="email"
              #email="ngModel"
              (blur)="checkEmail()"
            />
            <mat-icon matSuffix>alternate_email</mat-icon>
            <mat-error [hidden]="user.email">
              User email is mandatory</mat-error
            >
            <small class="error-message" *ngIf="presentUserEmail">
              Email already registered in the system. Please continue to
              sign-in.</small
            >
            <small class="error-message" *ngIf="badEmail">
              Please enter a valid email.</small
            >
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Desired password</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              class="form-control"
              id="password"
              required
              [(ngModel)]="user.password"
              name="password"
              #password="ngModel"
              (blur)="checkPassword()"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-hint>Password should be 8 digits.</mat-hint>
            <mat-error [hidden]="user.password">Password is required</mat-error>
            <small class="error-message" *ngIf="badPassword">
              Password should be min 8 digits long.</small
            >
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Repeat password</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              class="form-control"
              id="rePass"
              required
              [(ngModel)]="rePassword"
              name="rePass"
              #rePass="ngModel"
            />
            <mat-icon matSuffix>{{
              rePassword !== "" && rePassword === user.password
                ? "verified"
                : "more_horiz"
            }}</mat-icon>
            <mat-hint
              [hidden]="rePassword === '' || rePassword === user.password"
              >Password doesnot match.</mat-hint
            >
          </mat-form-field>

          <p>
            Already registered? &nbsp; &nbsp;
            <strong
              ><span (click)="redirectToSignIn()" class="cursor-pointer"
                >Sign-in.</span
              ></strong
            >
          </p>
        </div>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!userForm.valid"
        >
          Sign-Up
        </button>
        <!-- <button mat-raised-button color="primary" (click)="redirectToSignIn()" [disabled]="invalidSignUpDetails">Sign-Up</button> -->
      </form>
    </div>
    <div *ngIf="signIn" class="signin-form">
      <form (ngSubmit)="onSignIn()" #userForm="ngForm">
        <div class="form-group">
          <h2 class="heading-signin">Welcome Back!</h2>
          <hr />
          <br />
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>User-name</mat-label>
            <input
              matInput
              placeholder="ABCD"
              class="form-control"
              id="name"
              required
              [(ngModel)]="user.uname"
              name="name"
              #name="ngModel"
              (ngModelChange)="checkUserName()"
            />
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-error [hidden]="user.uname">
              Please enter your username</mat-error
            >
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Password</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              class="form-control"
              id="password"
              required
              [(ngModel)]="user.password"
              name="password"
              #password="ngModel"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-error [hidden]="user.password">
              Please enter your password.</mat-error
            >
          </mat-form-field>
          <small class="error-message" *ngIf="wrongCredentials">
            User name or password is incorrect.</small
          >
          <p>
            Not yet registered? &nbsp; &nbsp;
            <strong
              ><span (click)="redirectToSignUp()" class="cursor-pointer"
                >Sign-up Now!</span
              ></strong
            >
          </p>
          <hr />
          <br />
        </div>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!userForm.valid"
        >
          Sign-in
        </button>
      </form>
    </div>
  </div>
</div>
