.login-body {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.user-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
    border: 2px solid rgb(55, 55, 182) ;
    border-radius: 15px;
    width: 25vw;
    margin: 3%;
}

.signin-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.heading-signin {
    text-align: center;
    font-weight: 500;
    color: blueviolet;
}

.form-field {
    width: 100%;
}

.cursor-pointer{
    cursor: pointer;
}

button {
    border-radius: 5px;
    width:fit-content;
}
.error-message{
    color: red;
}